.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin-top: 150px;
}
.userContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    max-width: 1000px;
    margin-top: 150px;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    /* Center the text input */
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #5bbad5;
    /* Set the background color to #5bbad5 */
    color: #fff;
    border: none;
    border-radius: 4px;
}

.nav-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

#fullNameResult {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

.page-title {
    text-align: center;
    /* Center-align text within the page-title div */
}
.greyLetters {
    font-size: 14px;
    color: #888;
}
#sdiInput {
    padding: 10px;
    margin: 10px 0;
    width: 50%;
    box-sizing: border-box;
    /* Remove margin: 0 auto; */
}

iframe {   
    background-color: #ddd;
    width: 100%;
    height: 100%;
    min-height: 450px;
    max-width: 685px;

}
.search-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
